services:
  app:
    build:
      context: .
      dockerfile: ./docker/dock.dockerfile
    # command: sh
    stdin_open: true # Keep stdin open so we can interact
    tty: true # Allocate a pseudo-TTY
    ports:
      - "8080:8080"
    env_file: .env
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    env_file: .env
    environment:
      POSTGRES_DB: myapp_db
      POSTGRES_USER: myapp_user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: